
.fondo{
    background-color: rgb(245, 228, 207);
}
.miTexto {
    font-size: 30px;
    color: rgb(124, 124, 218);
}

.logo{
    width: 500px;
    border: 2px #8b4513;
    padding: 0px 1em 1em 1em;
    border-radius: 10%;
    transition: 1s ;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.logo:hover{
    background-color: rgb(32, 244, 244);
}

.lol{
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}

.lista{
    text-align: center;
}

#principla{
    color: rgb(0, 106, 255);
    text-align:center;
    font-size: medium;
}

#cards-container{
    width: 85vw;
    margin: auto;
    margin-top: 1.5 em;
    border: 5px solid rgb(124, 124, 218);
    border-radius: 15 px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

